body {
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #2a8658;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f135";
  display: inline-block;
  position: relative;
  top: -0.8em;
  padding: 0 0.25em;
  font-family: FontAwesome;
  font-size: 2em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #2a8658;
  color: white;
}
hr.star-primary {
  border-color: #2c3e50;
}
hr.star-primary:after {
  background-color: white;
  color: #2c3e50;
}
span.h-line-surround {
  overflow: hidden;
  text-align: center;
}
span.h-line-surround:before,
span.h-line-surround:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 5px;
  position: relative;
  vertical-align: middle;
  margin-bottom: 5px;
  width: 20%;
}
span.h-line-surround:before {
  right: 0.6em;
  margin-left: -20%;
}
span.h-line-surround:after {
  left: 0.6em;
  margin-right: -20%;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #2a8658;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-fixed-top.navbar-shrink {
    padding: 0 0;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar a:focus {
  outline: none;
}
.navbar .navbar-nav {
  letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
  outline: none;
}
.navbar-default,
.navbar-inverse {
  border: none;
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #2a8658;
  color: white;
}
section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
  color: #2c3e50;
  outline: none;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#about li {
  font-size: 18px;
  margin-top: 10px;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(42, 134, 88, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  top: 15%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.btn-outline {
  margin-top: 15px;
  border: solid 2px #2c3e50;
  font-size: 20px;
  color: #2c3e50;
  background: 0 0;
  transition: all 0.3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #2c3e50;
  color: #fff;
  background: #2c3e50;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #cccccc;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.76470588em;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #cccccc;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #2a8658;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #cccccc;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn-social img {
  margin-top: -4px;
}
.btn-outline-social {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all 0.3s ease-in-out;
}
.btn-outline-social:hover,
.btn-outline-social:focus,
.btn-outline-social:active,
.btn-outline-social.active {
  border: solid 2px #fff;
  color: #2a8658;
  background: #fff;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .modal-content .item-details li {
  margin: 0 20px;
}
@media (min-width: 991px) {
  .portfolio-modal .modal-content {
    margin: 25px 100px;
  }
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2c3e50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2c3e50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 {
  position: absolute;
}
.jssorb01 div,
.jssorb01 div:hover,
.jssorb01 .av {
  position: absolute;
  /* size of bullet elment */
  width: 24px;
  height: 24px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
  border: #000 1px solid;
}
.jssorb01 div {
  background-color: gray;
}
.jssorb01 div:hover,
.jssorb01 .av:hover {
  background-color: #d3d3d3;
}
.jssorb01 .av {
  background-color: #fff;
}
.jssorb01 .dn,
.jssorb01 .dn:hover {
  background-color: #555555;
}
/* jssor slider arrow navigator skin 09 css */
/*
.jssora09l                  (normal)
.jssora09r                  (normal)
.jssora09l:hover            (normal mouseover)
.jssora09r:hover            (normal mouseover)
.jssora09l.jssora09ldn      (mousedown)
.jssora09r.jssora09rdn      (mousedown)
*/
.jssora09l,
.jssora09r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(../img/slider/a09.png) no-repeat;
  overflow: hidden;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.jssora09l {
  background-position: -5px -35px;
}
.jssora09r {
  background-position: -65px -35px;
}
.jssora09l:hover {
  background-position: -5px -35px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.jssora09r:hover {
  background-position: -65px -35px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.jssora09l.jssora09ldn {
  background-position: -5px -35px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.jssora09r.jssora09rdn {
  background-position: -65px -35px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.thumbnail-text p {
  font-size: 30px;
  margin-top: -6px;
  margin-bottom: 4px;
}
.thumbnail-text i {
  padding-top: 10px;
}
